{% if cart and produit.id in cart.items|keys %}
    {{ cart_edit_item(produit,'web_cart_edit',{'sku':produit.sku,'referer':'web_index'},'web_cart_delete',{'sku':produit.sku,'referer':'web_index'}) }} 
{% else %}
    {{ cart_add_item(produit,'web_cart_add',{'sku':produit.sku,'referer':'web_index'}) }}
{% endif %}