{% set produit = entity.fields.getByProperty('produit').value %}
{% set html_id = 'ea-lightbox-' ~ produit.id %}
<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ vich_uploader_asset(produit,'file') }}" class="img-fluid">
</a>

<div id="{{ html_id }}" class="ea-lightbox">
    <img src="{{ vich_uploader_asset(produit,'file') }}">
</div>