{% extends 'front/base.html.twig' %}
{% block title %}
	{{ title('Boutique') }}
{% endblock %}

{% block banner %}
	{{ banner() }}
{% endblock %}
{% block features %}
	{{ features() }}
{% endblock %}
{% block body %}
	<div class="container-fluid js-filter">
		<div class="row js-loader">
			<div id="loader" class="centerize"></div>
			<div class="col-xl-3 col-lg-4 col-md-4">
				{% include 'shop/includes/_filter.html.twig' with {form:search_form,min:min,max:max} only %}			
			</div>
			{% include 'shop/includes/_content.html.twig' with {list:pager} only %}
		</div>
	</div>
{% endblock %}
