{% extends 'front/base.html.twig' %}
{% block title %}
    {{ title('Panier' | trans) }}
{% endblock %}

{% block banner %}
	{{ banner('Panier' | trans) }}
{% endblock %}
{% block features %}
	{{ features() }}
{% endblock %}
{% block body %}
<section class="cart_area">
    <div class="container-fluid">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ vich_uploader_asset(item.variation,'file') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{ item.variation.produit.titre }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{ item.variation.prix | format_number(0,'KMF') }}</h5>
                            </td>
                            <td>
                                <div class="row js-cart-actions{{ item.variation.id }}">
                                    {% include 'shop/cart/includes/_forms.html.twig' with {cart: cart,produit: item.variation} only %}
                                </div>
                            </td>
                            <td>
                                <h5>{{ item.prix | format_number(0,'KMF') }}</h5>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code">
                                    <a class="primary-btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>{{ cart.prix | format_number(0,'KMF') }}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Free Shipping</a></li>
                                        <li class="active"><a href="#">Local Delivery: {{ cart.shippement | format_number(0,'KMF') }}</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{{ path('web_index') }}">Continue Shopping</a>
                                    <a class="primary-btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}