<div class="col-xl-9 col-lg-8 col-md-7">
    <!-- Start Filter Bar -->
    <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting js-filter-sorting">
            {% include 'shop/includes/_orderselecter.html.twig' %}
        </div>
        <div class="sorting mr-auto js-filter-pagesize">
            {% include 'shop/includes/_pagesizeselecter.html.twig' %}
        </div>
        <div class="js-filter-pagination">
            {% include 'shop/includes/_pagination.html.twig' with {items:list} only %}
        </div>
    </div>
    <div class="page lattest-product-area pb-40 category-list js-filter-list">
        {% include 'shop/includes/_list.html.twig' with {items:list} only %}
    </div>
    <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting js-filter-sorting">
            {% include 'shop/includes/_orderselecter.html.twig' %}
        </div>
        <div class="sorting mr-auto js-filter-pagesize">
            {% include 'shop/includes/_pagesizeselecter.html.twig' %}
        </div>
        <div class="js-filter-pagination">
            {% include 'shop/includes/_pagination.html.twig' with {items:list} only %}
        </div>
    </div>
    <!-- End Filter Bar -->
</div>