
    <div class="sidebar-filter">
        {{ form_start(form,{
            'attr':{
                'autocomplete':'off',
                'class':'js-filter-form'
            }
        }) }}
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
                <div class="head">Article</div>
                {{ form_widget(form.titre,{
                    'attr':{
                        'class':'form-control'
                    }
                }) }}
            </div>
            <div class="common-filter">
                <div class="head">Catégories</div>
                    <ul>
                        {% for child in form.unites %}
                            <li class="filter-list">
                                {{ form_widget(child,{
                                    'attr':{
                                        'class':'pixel-radio'
                                    }
                                }) }}
                                {{ form_label(child,null,{
                                    'label_attr':{
                                        'class':'label-radio'
                                    }
                                }) }}
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="common-filter">
                <div class="head">Marques</div>
                    <ul>
                        {% for child in form.marques %}
                            <li class="filter-list">
                                {{ form_widget(child,{
                                    'attr':{
                                        'class':'pixel-radio'
                                    }
                                }) }}
                                {{ form_label(child,null,{
                                    'label_attr':{
                                        'class':'label-radio'
                                    }
                                }) }}
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="common-filter">
                <div class="head">Prix</div>
                <div class="price-range-area">
                    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">De</span>
                        {{ form_widget(form.min,{
                            'attr':{
                                'class':'form-control min-price',
                                'style':'width: 30%;'
                            }
                        }) }}
                        <span class="input-group-text" style="border-left: 0; border-right: 0;">à</span>
                        {{ form_widget(form.max,{
                            'attr':{
                                'class':'form-control max-price',
                                'style':'width: 30%;'
                            }
                        }) }} 
                    </div>
                </div> 
            </div>
            <div class="common-filter">
                <div class="head">Tailles</div>
                    <ul>
                        {% for child in form.tailles %}
                            <li class="filter-list">
                                {{ form_widget(child,{
                                    'attr':{
                                        'class':'pixel-radio'
                                    }
                                }) }}
                                {{ form_label(child,null,{
                                    'label_attr':{
                                        'class':'label-radio'
                                    }
                                }) }}
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        {{ form_end(form) }}
    </div>

