<div class="col-lg-4 col-md-6" id="item-{{ item.id }}">
    <div class="card card-cascade card-ecommerce wider shadow mb-5 single-product">
        <!--Card image-->
        <div class="view view-cascade overlay text-center"> <img class="card-img-top" src="{{ vich_uploader_asset(item,'file') }}" alt="" /> <a>
                <div class="mask rgba-white-slight"></div>
            </a> </div>
        <!--Card Body-->
        <div class="card-body card-body-cascade text-center product-details">
            <div class="price">
                <h6>{{ item.relativePrice | format_number(0,'KMF') }}</h6>
                {% if item.indiscount() %}
                <h6 class="l-through old-price">{{ item.prix | format_number(0,'KMF') }}</h6>
                {% endif %}
            </div>
            <div class="prd-bottom">       

                <a data-toggle="modal" data-target="#showModal{{item.id}}" class="btn social-info">
					<i class="fa fa-eye"></i>
                </a>
            </div>
            <!--Card footer-->
            <div class="card-footer">
                <div class="row js-cart-actions{{ item.id }}">
                    {% include 'shop/cart/includes/_forms.html.twig' with {cart: app.session.get('cart'),produit: item} only %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'shop/includes/_modal.html.twig' with {item: item} only %}