
	<!-- Modal Quick Product View -->
	<div class="modal fade" id="showModal{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4">
							<img class="card-img-top" src="{{ vich_uploader_asset(item,'file') }}" alt="" />
						</div>
						<div class="col-md-8">
							{% include 'shop/includes/_table_details.html.twig' with {item:item} only %}				
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Understood</button>
			</div>
			</div>
		</div>
	</div>

