<table class="table">
    <tbody>
        <tr>
            <th>
                {{ 'entity.variation.list.fields.sku' | trans }}
            </th>
            <td>{{ item.sku }}</td>
        </tr>
        <tr>
            <th>
                {{ 'entity.variation.form.fields.produit' | trans }}
            </th>
            <td>{{ item.produit.titre }}</td>
        </tr>
        {% if item.taille %}
        <tr>
            <th>
                {{ 'entity.variation.form.fields.taille' | trans }}
            </th>
            <td>{{ item.taille.valeur }}</td>
        </tr>
        {% endif %}
        {% if item.poids %}
        <tr>
            <th>
                {{ 'entity.variation.form.fields.poids' | trans }}
            </th>
            <td>{{ item.poids.valeur }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>