<script type="text/javascript" src="{{ asset('build/js/karma/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/vendor/flashy/js/flashy.js') }}"></script>
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{#<script type="text/javascript" src="{{ asset('build/vendor/ajax-submit/jquery.form.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('build/vendor/ajax-submit/cart.js') }}"></script> #}
