<link rel="shortcut icon" href="{{ asset('uploads/default/favicon.png') }}">
<!-- CSS ============================================= -->
<link rel="stylesheet" href="{{ asset('build/css/karma/app.css') }}">
<link rel="stylesheet" href="{{ asset('build/vendor/flashy/css/flashy.css') }}">