{% extends 'front/base.html.twig' %}
{% block title %}
    {{ title('security.login.title' | trans) }}
{% endblock %}

{% block banner %}
	{{ banner('security.login.title' | trans) }}
{% endblock %}
{% block features %}
	{{ features() }}
{% endblock %}
{% block body %}
<section class="login_box_area section_gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{{ asset('uploads/default/login.jpg') }}" alt="">
                    <div class="hover">
                        <a class="primary-btn" href="{{ path('web_register') }}">{{ 'security.login.register'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>{{ 'security.login.title'|trans }}</h3>
                    <form class="row login_form" action="{{ path("web_login") }}" method="post" autocomplete="off">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" name="_username" placeholder="{{ 'security.login.username'|trans }}" onfocus="this.placeholder = ''" onblur="this.placeholder = `{{ 'security.login.username'|trans }}`" required autofocus>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" onfocus="this.placeholder = ''" onblur="this.placeholder = `{{ 'security.login.password'|trans }}`" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">{{ 'security.login.btn'|trans }}</button>
                            <a href="{{ path('web_reset') }}">{{ 'security.forgot_password'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

