{% extends 'front/base.html.twig' %}
{% block title %}
    {{ title('security.register.title'|trans) }}
{% endblock %}

{% block banner %}
	{{ banner('security.register.title'|trans) }}
{% endblock %}
{% block features %}
	{{ features() }}
{% endblock %}
{% block body %}
<section class="login_box_area section_gap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{{ asset('uploads/default/login.jpg') }}" alt="">
                    <div class="hover">
                        <a class="primary-btn" href="{{ path('web_login') }}">{{ 'security.login.title'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>{{ 'security.register.title'|trans }}</h3>
                    {{ form_start(form,{
                        'attr':{
                            'class':'row login_form',
                            'autocomplete':'off',
                            'novalidate':'novalidate'
                        }
                    }) }}
                        <div class="col-md-12 form-group">
                            {{ form_row(form.username,{
                                'attr':{
                                    'class':'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_row(form.nom,{
                                'attr':{
                                    'class':'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_row(form.prenom,{
                                'attr':{
                                    'class':'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_row(form.plainPassword.first,{
                                'attr':{
                                    'class':'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form_row(form.plainPassword.second,{
                                'attr':{
                                    'class':'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">{{ 'security.register.btn'|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}
