{% block _Promotion_items_entry_widget  %}
<tr {{ block('widget_attributes') }}>
    <td>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.produit) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prix) }}
            </div>
        </div>        
    </td>
    <td>
        <br><br>
        <div class="btn-group" role="group">
            <a href="#" class="item-add btn btn-sm btn-primary mr-1" title="{{ 'add.title' | trans }}"><i class="fa fa-xs fa-plus"></i></a>
            <a href="#" class="item-remove btn btn-sm btn-danger" title="{{ 'delete.title' | trans }}"><i class="fa fa-xs fa-trash"></i></a>
        </div>
    </td>
</tr>
{% endblock _Promotion_items_entry_widget  %}

