<script type="text/javascript" src="{{ asset('build/vendor/jquery.collection/jquery.collection.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.items-collection').collection({
            allow_duplicate: false,
            allow_up: true,
            allow_down: true,
            prefix: 'item',
            after_add: function(collection,element){
                $('select',element).select2(); 
                return true;                   
            },
            add: '<a href="#" class="item-add btn btn-sm btn-primary" title="{{ 'add.title' | trans }}"><span class="fa fa-plus"></span></a>',
            elements_selector: 'tr.item-item',
            elements_parent_selector: '%id% tbody'
        });


    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // Get the ul that holds the collection of images
        var $collectionHolder = $('ul.images');

        // add a delete link to all of the existing image form li elements
        $collectionHolder.find('li').each(function() {
            addImageFormDeleteLink($(this));
        });
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find('input').length);

        $('body').on('click', '.add_item_link', function(e) {
            var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
            // add a new image form (see next code block)
            addFormToCollection($collectionHolderClass);
        })
    });
function addFormToCollection($collectionHolderClass) {
    // Get the ul that holds the collection of images
    var $collectionHolder = $('.' + $collectionHolderClass);

    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;

    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a image" link li
    var $newFormLi = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').append(newForm);
    // Add the new form at the end of the list
    $collectionHolder.append($newFormLi)

    addImageFormDeleteLink($newFormLi);
}

function addImageFormDeleteLink($imageFormLi) {
    var $removeFormButton = $('<span><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></span>');
    $imageFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the image form
        $imageFormLi.remove();
    });
}
</script>