@import "./modules/bootstrap/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~linearicons/dist/web-font/style.css";
@import "./modules/themify-icons/themify-icons";
@import "~nouislider/distribute/nouislider.css"; 


@import "~jquery-nice-select/scss/nice-select.scss";
@import "~jquery-nice-select/scss/style.scss";

@import "./../vendor/karma/css/jquerysctipttop.css"; 

@import "./../vendor/karma/scss/main.scss";

@import "~toastr/build/toastr.min.css";

.label-radio{
    color: $primary-color3;
    font-size: 13px;
}

.text-secondary{
	color: $primary-color2;
}

.flex{
	display: flex;
}

.cart_inner{
	padding: 15em;
}