<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}{% endblock %}</title>

    {% include 'front/includes/_styles.html.twig' only %}
    {% block styles %}{% endblock %}
</head>

<body id="category">	
    {% include 'front/includes/_header.html.twig' only %}

    {% block banner %}{% endblock %}
	
	{% block features %}{% endblock %}

    {% block body %}{% endblock %}

    {% include 'front/includes/_footer.html.twig' only %}

    {% include 'front/includes/_scripts.html.twig' only %}
    {% block scripts %}{% endblock %}
</body>
</html>