{% for message in app.flashes('mercuryseries_flashy_notification') %}
    {% include '@MercurySeriesFlashy/_template.html.twig' with {message:message} %}

    <script>
        flashy("{{ message.message }}", "{{ message.link }}");
    </script>
{% endfor %}
