<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container-fluid">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Bienvenue chez Ecommerce</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{ path('web_index') }}">Home<span class="lnr lnr-arrow-right"></span></a>
                    {% if _page is defined %}{{ _page }}{% endif %}
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->