{% set limit = app.request.query.get('limit') ? app.request.query.get('limit') : 3 %}
<select>
    {% for i in array %}
        <option value="{{ i }}" {% if i == limit %}selected{% endif %}>{{ 'entity.variation.search.fields.limit' | trans({'%limit%': i}) }}</option>
    {% endfor %}
</select>