{% set order = app.request.query.get('order') %}
<select>
    {% for k,v in array %}
        <option value="{{ v }}" {% if v == order %}selected{% endif %}>{{ k | trans }}</option>
    {% endfor %}
</select>