{% use 'themes/bootstrap-4.html.twig' %}

{# Labels #}

{% block form_label -%}
    {% if label is same as(false) %}
        {% if (label) -%}
            <div class="{{ block('form_label_class') }}"></div>
        {% endif %}
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
        {% if label is not same as(false) -%}
            {% if not compound -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {%- endif -%}
            {% if label is empty -%}
                {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {%- endif -%}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
                {{- form_help(form) -}}
            </label>
        {%- endif -%}
    {% endif %}
{%- endblock form_label %}

{% block form_label_class -%}
    col-md-4 col-sm-4 col-xs-12 text-sm-right col-form-label
{%- endblock form_label_class %}

{# Rows #}
{% block form_row -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {% if (label) -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {%- else -%}
        <div class="form-group row">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {%- endif -%}
{%- endblock form_row %}

{% block checkbox_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock checkbox_row %}

{% block radio_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock radio_row %}

{% block checkbox_radio_row -%}
    <div class="form-group row{% if not valid %} has-error{% endif %}">
        {{ block('form_label') }}
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{%- endblock checkbox_radio_row %}

{% block submit_row -%}
    {% set attr = attr|merge({class: ('btn btn-primary ' ~ attr.class|default(''))|trim}) %}
    {% if attr.mbutton is defined %}
        {{ form_widget(form, {'attr': {'class': attr.class}}) }}
    {% else %}
        <div class="form-group row">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form, {'attr': {'class': attr.class}}) }}
            </div>
        </div>
    {% endif %}
{% endblock submit_row %}

{% block form_group_class -%}
    col-md-8 col-sm-8 col-xs-12
{%- endblock form_group_class %}
