{% block color_picker_widget %}
    {{ form_widget(form, {
        attr: {
            'autocomplete': 'off',
            'style': (form.vars.value is not empty ? 'background-color: ' ~ form.vars.value ~ '; color: ' ~ (form.vars.value|picker_brightness == constant("App\\Twig\\ColorPickerExtension::BRIGHTNESS_DARK") ? '#FFF' : '#000') ~ ';'),
            'data-options': pickr_options | json_encode
        }
    }) }}
    <link rel="stylesheet" href="{{ asset('build/vendor/color.picker/css/' ~ pickr_options['theme'] ~ '.min.css') }}"/>
    <script src="{{ asset('build/vendor/color.picker/js/pickr.min.js') }}"></script>
    <script type="text/javascript">var wandiColorPickerInputElement = document.querySelector('#{{ form.vars.id }}');</script>
    <script type="text/javascript" src="{{ asset('build/vendor/color.picker/js/wandicolorpicker.js') }}"></script>
{% endblock %}