{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}            
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}       

        <fieldset class="form-group">       
            <table {{ block('widget_attributes') }} class="table table-responsive">
                {#{{ form_label(form) }}#}
                <tbody>
                    {% for item in form %}
                        {{ form_widget(item) }}
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endapply %}
{% endblock %}