{% if pageCount > 1 %}
        {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
        {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
    <div class="pagination{{ classAlign }}{{ classSize }}">
        {% if previous is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        {% endif %}
        {% if startPage > 1 %}
            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            {% if startPage == 3 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
            {% elseif startPage != 2 %}
                <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
            {% endif %}
        {% endif %}
        {% for page in pagesInRange %}
        
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="active">{{ page }}</a>
            {% endif %}

        {% endfor %}
        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                {% endif %}
            {% endif %}
            <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
        {% endif %}
        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="next-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        {% endif %}
    </div>
{% endif %}    

