{% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ vich_uploader_asset(entity.instance,'file') }}" class="img-fluid">
</a>

<div id="{{ html_id }}" class="ea-lightbox">
    <img src="{{ vich_uploader_asset(entity.instance,'file') }}">
</div>