{% extends '@EasyAdmin/crud/edit.html.twig' %}
{% block configured_stylesheets %}
    {{ parent() }}
    {% include 'admin/promotion/includes/_stylesheets.html.twig' %}
{% endblock %}
{% block main %}
    {% block edit_form %}
        {% include 'admin/promotion/includes/_form.html.twig' with {form:edit_form} %}
    {% endblock edit_form %}
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    {% include 'admin/promotion/includes/_scripts.html.twig' %}
{% endblock %}