{% extends '@EasyAdmin/crud/new.html.twig' %}
{% block configured_stylesheets %}
    {{ parent() }}
    {% include 'admin/promotion/includes/_stylesheets.html.twig' %}
{% endblock %}
{% block main %}
    {% block new_form %}
        {% include 'admin/promotion/includes/_form.html.twig' with {form:new_form} %}
    {% endblock new_form %}
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    {% include 'admin/promotion/includes/_scripts.html.twig' %}
{% endblock %}