<div class="col">
    {{form_start(form,{
        'attr':{
            'class':'form-inline js-cart-form float-left'
        }
    })}}
        <div class="row">
            <div class="form-group">
                {{ form_widget(form.quantite,{
                    'attr':{
                        'class':'form-control form-control-sm'
                    }
                }) }}
            </div>
            <div class="form-group">
                <button class="btn btn-sm text-secondary js-cart-btn"><i class="fa fa-cart-plus"></i></button>
            </div>
        </div> 
    {{ form_end(form) }}
</div>
