{{ form_start(form,{
    'attr':{
        'class':'js-cart-form float-right'
    }
}) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm text-danger js-cart-btn" type="submit">
        <i class="fa fa-trash"></i>
    </button>
{{ form_end(form) }}