
<div class="col">
    {{form_start(edit_form,{
        'attr':{
            'class':'form-inline js-cart-form float-left'
        }
    })}}
        <div class="row">
            <div class="form-group">
                {{ form_widget(edit_form.quantite,{
                    'attr':{
                        'class':'form-control form-control-sm'
                    }
                }) }}
            </div>
            <div class="form-group">
                <button class="btn btn-sm text-secondary js-cart-btn"><i class="fa fa-sync"></i></button>
            </div>
        </div> 
    {{ form_end(edit_form) }}
</div>
<div class="col">
    {{ cart_delete_item(produit,delete_action,delete_params) }}
</div>


